.img-cats{
    column-count: 2;
    width: 50%;
}


.pics{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 480px){
    .img-cats{
        column-count: 2;
        width: 100%;
    }

    .pics{
        height: auto;
    }
}